/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
	.staff .panel-body .staff-content {
		float: none!important;
	}
	.staff .staff-social-links {
		margin-bottom: 0!important;
	}
	.events-archive a.read-more-link, .events-archive p.latest-event-header-description {
		max-width: none!important;
	}
}

@media (max-width: 799px) {
	.recent-posts .post-thumbnail {
		width: 100%;
		height: 190px;
	}
	.recent-posts .post-title {
		padding-top: 0px;
		float: left;
		display: block;
		width: 100%;
		line-height: 30px;
		a {
			padding: 0;
		}
	}
	.recent-posts .inner-post-content {
		padding: 20px;
	}
	.recent-posts li {
		line-height: 0px;
	}
	.callout h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
	.type-tribe_events .inner-event-content {
		margin-bottom: 20px;
	}
	article.homepage-events .type-tribe_events .inner-event-content a.button {
		position: relative;
		margin: 0;
	}
	article.homepage-events .type-tribe_events p {
		margin-bottom: 20px;
	}
	aside.widget {
		margin-bottom: 40px;
	}
	span.section-title {
		font-size: 20px!important;
		letter-spacing: normal!important;
		text-align: center;
		margin-bottom: 12px !important;
		&:before {
			display: none!important;
		}
	}
	span.footer-section-title {
		margin-bottom: 20px!important;
	}
	.instagram-feed-bg {
		display: none;	
	}
}

@media (max-width: 990px) {

}

@media (max-width: 1199px) {

	.navbar-header {
		float: left;
		width: 100%;

		a.logo-link {
			float: none;
			.logo {
				width: auto;
				margin-top: 10px;
			}
		}
	}

	#menu-main-menu {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	#footer-sidebar {
		.wpcf7 {
			label.name, label.email, label.subject, label.message {
				width: 100%;
				max-width: none;
				float: none;
				margin: auto;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1269px) {
	nav li a {
		padding: 10px 3px !important;
		font-size: 14px;
	}
	.top .logo {
		width: 10rem;
	}
}