/**
 * Content CSS File
 * Contains all content related styles
 *
 * @author      Local Marketing Inc.
 * @version     1.7
 * @since       wpseed 0.1
 *
 */

/* GENERAL
/===================================================== */
.row {
  div.entry a {
    text-decoration: none;
    color: $c_lightblue;
    outline: 0;
  }
}
div.entry button a {
  color: $c_bright;
}
.content {
  max-width: 86.76923em;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  @include mobile {
    width: 100%;
    padding: 1rem;
  }
  section img,
  article img {
    float: left;
    width: 50%;
    padding: 0 1rem 1rem 0;
    @include mobile {
      float: none;
      width: 100%;
      padding: -1rem;
    }
  }
  h2 {
    color: $c_darkblue;
    text-transform: uppercase;
    font-family: gibson_semibold,sans-serif;
    font-weight: 900;
    font-size: 28px;

    a {
      color: $c_lightblue;
    }
  }
}
.welcome {
  text-align: center;
  h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 900;
    color: $c_dark;
  }
  p {
  }
}

.top + div {
  // margin-top: 4rem;
}

/* TOP
/===================================================== */
.container {
  max-width: 86.76923em;
  // width: 100%;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.top {
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $c_darkblue;
  box-shadow: $shadow_material_soft_s1;
  border-bottom: 4px solid $c_bright;
  @include mobile {
    padding: 0 1rem;
  }
}

.logo {
  width: 14rem;
  height: 3rem;
  margin-right: 1rem;
  background-image: url('../dist/images/header-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
a.logo-link {
  float: left;
  padding-top: 10px;
}

/* HEADINGS, PARAGRAPHS
/===================================================== */
#main-content {
  width: 100%;
  header {
    position: absolute;
    overflow: hidden;
    height: 650px;
    width: 100%;
    margin-top: -50px;
  }
}
#main-content header svg {
 position:absolute;
 bottom:0
}
#main-content header [id$=rainbow] {
 right:0
}
#main-content #back-rainbow {
 width:96%;
 height:340px
}
#main-content #front-rainbow {
 width:81%;
 height:475px
}
#main-content header [id^=header-curve] {
 width:100%;
 height:110px
}
#header-curve-shadow {
 display:none
}


/* HEADINGS, PARAGRAPHS
/===================================================== */
h1 {
  margin: 0 0 .25rem 0;
  font-size: 2rem;
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.5rem;
}

p {
  margin: 0 0 .5rem 0;
}


/* PAGES
/===================================================== */

/* TEMPLATE - HOME
/------------------------*/
.teaser {
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  .content {
    width: 100%;
  }
  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
  }
  p, h2 {
    color: $c_bright;
    text-shadow: 0 1px 2px rgba(0,30,50,.15);
  }
  @include mobile {
    padding: 0%;
    padding-top: 50px;
  }
}
.newsletter-container {
  input {
    float: right;
    padding: 5px 20px;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: 0;
  }
}
.callout {
 height: auto;
 // background: #605ea1;
 // background-image: -webkit-radial-gradient(circle farthest-corner at right bottom,#ac9cd5 0,#8e7ec2 28%,#6561af 57%,#1a2565 100%);
 // background-image: radial-gradient(circle farthest-corner at right bottom,#ac9cd5 0,#8e7ec2 28%,#6561af 57%,#1a2565 100%);
 background: #84a145;
 background-image: -webkit-radial-gradient(circle farthest-corner at right bottom,$c_darkblue 0,$c_darkblue 28%,$c_lightblue 57%,$c_lightblue 100%);
 background-image: radial-gradient(circle farthest-corner at right bottom,$c_darkblue 0,$c_darkblue 28%,$c_lightblue 57%,$c_lightblue 100%);
 h2 {
  font-family: 'gibson_regular', sans-serif;
  color: $c_bright;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
  margin: 0;
}
}
.flexbox-container {
  display: flex;
  justify-content: center;
  z-index: 2;
}
.flexbox {
 flex-wrap: wrap;
 display: flex;
 justify-content: flex-start;
 flex-direction: row;
}
.flexbox-2-container {
  width: 100%;
  border-bottom: 1px solid #e9eaec;
  border-top: 1px solid #e9eaec;
  background: -webkit-linear-gradient(0deg,#fff 50%,#f5f7f9 0);
  background: linear-gradient(90deg,#fff 50%,#f5f7f9 0);
  p.flexbox-content {
    color: #6f7c82;
    font-size: 15px;
  }
  .flexbox-2 {
    width: 600px;
    @include mobile {
      width: 350px;
    }
  }
  .last-item {
    background: -webkit-linear-gradient(0deg,#fff 50%,#f5f7f9 0);
    background: linear-gradient(90deg,#fff 0%,#f5f7f9 0);
    border-left: 1px solid #e9eaec;
  }
}
.flexbox-item {
  text-align: center;
  padding: 40px;
  width: 350px;
  p {
    font-size: 0.8rem;
    line-height: 30px;
  }
}
#back-rainbow {
  margin-top: -150px;
}
.custom-divider {
  background: $c_darkblue;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 20%;
}

/* TEMPLATE - BLOG
/------------------------*/
.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    flex-basis: calc(90% / 2);
    margin-bottom: 1rem;
    @include mobile {
      flex-basis: 100%;
    }
    .readmore a {
      color: $c_link;
      &:hover {
        opacity: .5;
      }
    }
  }
}

.blog,
.post {
  .postinfo {
    margin: 0 0 1rem 0;
    color: $c_grey;
    font-size: 0.7rem;
  }

  .thumbnail {
    width: 100%;
    height: 15rem;
    margin-bottom: .5rem;
    background-size: cover;
  }
}

// #secondary img, article img, figure, img.wp-post-image {
//   max-width: 100%;
//   height: auto;
// }

/* TEMPLATE - SUBSITES
/------------------------*/
.subsites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  section {
    flex-basis: calc(90% / 3);
    margin-bottom: 1rem;
    @include vpw_min(1600px) {
      flex-basis: calc(90% / 4);
    }
    @include vpw_max(1000px) {
      flex-basis: calc(90% / 2);
    }
    @include mobile {
      flex-basis: 100%;
    }
    .thumbnail {
      width: 100%;
      height: 15rem;
      background-size: cover;
    }
  }
}

/* HOMEPAGE INSTAGRAM FEED
/------------------------*/
.instagram-feed-bg {
  width: 100%;
  padding: 0 15px;
  .content {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
    padding-top: 0;
  }
}