.tribe-events-single {
	.tribe-events-event-meta .tribe-events-meta-group {
		border: 1px dashed #ccc;
		padding: 20px;
		min-height: 275px;
		margin-right: 20px;

	}
	dt {
		font-weight: 700;
		margin-right: 5px;
	}
}

.single-tribe_events .tribe-events-event-meta {
	background: transparent;
	border: none;
	margin: 30px 0;
}

.tribe-events-meta-group .tribe-events-single-section-title {
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0 10px;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 14px;
}

.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap {
	clear: both;
	display: block;
	float: none;
	width: auto;
	padding: 0;
}
.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
	float: none;
	width: 100%;
	margin: 0;
}

.tribe-events-single-event-description.tribe-events-content {
	float: left;
	width: 100%;
}

//iCal Export Buttons
.tribe-events-cal-links {
	float: right;
	width: 100%;
	.tribe-events-gcal.tribe-events-button, .tribe-events-ical.tribe-events-button {
		margin: 0;
		margin-right: 10px;
	}
}

ul.order_details::after, ul.order_details::before {
	content: "";
	display: block;
	position: absolute;
	top: -16px;
	left: 0;
	width: 100%;
	height: 16px;
	background-size: 0 100%,16px 16px,16px 16px;
}
.order_details::before, .order_details::after {
	background: -webkit-linear-gradient(transparent 0,transparent 0),-webkit-linear-gradient(135deg,#f1f1f1 33.33%,transparent 33.33%),-webkit-linear-gradient(45deg,#f1f1f1 33.33%,transparent 33.33%);
	background-size: auto auto, auto auto, auto auto;
}
.order_details::before, .order_details::after {
	background: -webkit-linear-gradient(transparent 0,transparent 0),-webkit-linear-gradient(135deg,#f8f8f8 33.33%,transparent 33.33%),-webkit-linear-gradient(45deg,#f8f8f8 33.33%,transparent 33.33%);
}



//Targeting event descriptiona and read more button only on single event page
.single-tribe_events {
	p.latest-event-header-description, a.read-more-link, .latest-upcoming-event {
		display: none;
	}
}

//Feature image pulled from event into header
.single-tribe_events .events-page.teaser {
	width: 100%;
	height: 15rem;
	padding-top: 40px;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	// filter: blur(5px);
	// -webkit-filter: blur(5px);
	h1 {
		color: white;
		font-weight: 900;
		text-transform: uppercase;
		background: rgba(11,60,93,0.8);
		display: inline-block;
		padding: 20px;
		border: 5px solid #fff;
	}
	.tribe-event-schedule-details {
		background: transparent;
		display: block;
		padding: 0;
		margin: 0;
	}
}