/* FOOTER
/===================================================== */

//Footer Widgets
#footer-sidebar {
  a {
    color: $c_lightblue;
  }
  span.footer-section-title {
    font-family: 'gibson_semibold', sans-serif;
    color: $c_darkblue;
    display: block;
    margin: 0 0 45px 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.5px;
    text-align: center;
  }
}
aside.widget {
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      a {
        color: $c_lightblue;
      }
    }
  }
}

//Footer Events
#footer-sidebar {
  .tribe-mini-calendar-event {
    .list-date, .tribe-events-duration {
      display: none;
    }
    .list-info {
      margin: 0;
      h2 {
        margin-bottom: 0;
      }
      .tribe-events-event-image {
        float: left;
        margin-bottom: 0;
        img {
          float: left;
          max-width: 80px;
          margin-right: 20px;
        }
      }
    }
  }
}

//Footer Contact Form
#footer-sidebar {
  .wpcf7 {
    .name {
      width: 47%;
      float: left;
      margin-right: 21px;
    }
    .email {
      max-width: 47%;
      float: left;
    }
    .subject, .message {
      width: 100%;
    }
  }
}


//Footer City & Credits
.skyline {
  width: 100%;
  height: 142px;
  top: -115px;
  left: 0;
  background-image: url(../dist/images/skyline-landmarks.png),url(../dist/images/skyline-generic.png);
  background-repeat: no-repeat,repeat-x;
  background-position: top,bottom;
  background-size: 1280px 138px,1280px 26px;
}
.ferris-wheel {
  height: 0;
  bottom: 0;
  margin-left: 41.5%;
  img {
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -100px 0 0 -56px;
    -webkit-animation:spin 18s linear infinite;
    -moz-animation:spin 18s linear infinite;
    animation:spin 18s linear infinite;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer {
  width: 100%;
  margin-top: auto;
  padding: 1.5rem;
  font-size: .8rem;
  color: $c_grey;
  background:#f3f5f8;;
  // box-shadow: $shadow_material_s1;
}

.footer-credits {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  a {
    color: $c_lightblue;
  }
}

.admin-area {
  background: $c_darkblue;
  text-align: center;
  padding: 10px 0;
  span a {
    text-transform: uppercase;
    font-family: 'gibson_semibold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $c_bright;
  }
}