/**
 * General CSS File
 * Contains re-usable classes and settings
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 * @author      Local Marketing Inc.
 * @version     1.6
 * @since       wpseed 0.1
 *
 */

/* GENERAL
/------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition-timing-function: cubic-bezier(.5, .5, .5, 1.1) !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $size;
  @include vpw_min($scaling_breakpoint) {
    font-size: $scaling_breakpoint / 100 * stripunit($size);
  }
  @include mobile {
    font-size: $size_mobile;
  }
  color: $c_text;
  background-color: $c_bgcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body  {
  margin: 0;
  padding-top: 80px;
  font-size: $font_size;
  font-weight: $font_weight;
  line-height: $line_height;
  font-family: $font_name;
  letter-spacing: 0.5px;
  background: #fff;
  color: #58585a;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

p {
  color: #58585a;
  font-weight: 100;
}

a {
  color: $c_link;
  text-decoration: none;
  outline: none;
  transition: .3s;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  &:hover {
    color: $c_link_hover;
  }
}

.not-active {
}

/* BUTTONS STYLING
/===================================================== */
a.button, .btn-hero, button, input[type="submit"] {
  font-family: $font_name;
  border: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  line-height: 22px;
  padding: 7px 14px;
  // box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 2px rgba(0,0,0,.08);
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  background: $c_darkblue;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: $c_bright!important;
  text-decoration: none;
  transition: all .15s ease;
  &:hover {
    background: $c_lightblue;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 2px rgba(0,0,0,.08);
  }
}

a.button_alt {
  font-family: $font_name;
  white-space: nowrap;
  display: inline-block;
  line-height: 22px;
  padding: 7px 14px;
  // box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 2px rgba(0,0,0,.08);
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  background: $c_dark;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: $c_bright;
  text-decoration: none;
  transition: all .15s ease;
  &:hover {
    background: $c_lightblue;
    color: $c_bright;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 2px rgba(0,0,0,.08);
  }
}

.woocommerce a.button {
  background: $c_darkblue;
  &:hover {
    background: $c_dark;
  }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

/* ADDITIONAL SANITIZING
/------------------------*/
:focus {
  outline: 0;
}
address {
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
}
table {
  border-collapse: collapse;
}
.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

/* CUSTOM CLASSES
/------------------------*/
.noscroll {
  overflow: hidden;
}

.dn {
  display: none !important;
}
.db {
  display: block !important;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}
.shown {
  opacity: 1 !important;
  pointer-events: all !important;
}


/* FIXES
/------------------------*/
.fcf:after {
  display: table;
  clear: both;
  content: '';
}

/* DEV CLASSES
/------------------------*/
// used in dd() @ functions-dev.php

.dev {
  margin: 2.5rem 0;
  border: 5px dashed #abb2c0;
  &.noborder {
    border: none;
  }
  &.green {
    border-color: #97c475;
  }
  &.blue {
    border-color: #51b6c3;
  }
  &.orange {
    border-color: #cc9b62;
  }
  &.red {
    border-color: #e26b73;
  }
}
pre {
  margin: .1rem;
  padding: .3rem;
  font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
  font-size: .5rem;
  color: #abb2c0;
  border-radius: 5px;
  background-color: #282c34;
  &.green {
    color: #97c475;
  }
  &.blue {
    color: #51b6c3;
  }
  &.orange {
    color: #cc9b62;
  }
  &.red {
    color: #e26b73;
  }
}


/* GIBSON FONT
/------------------------*/
@font-face { //100
  font-family: 'gibson_light';
  src: url('../assets/fonts/Gibson-Light-webfont.eot');
  src: url('../assets/fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-Light-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-Light-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-Light-webfont.svg#gibson_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { //100
  font-family: 'gibson_lightitalic';
  src: url('../assets/fonts/Gibson-LightItalic-webfont.eot');
  src: url('../assets/fonts/Gibson-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-LightItalic-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-LightItalic-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-LightItalic-webfont.svg#gibson_lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { //400
  font-family: 'gibson_regular';
  src: url('../assets/fonts/Gibson-Regular-webfont.eot');
  src: url('../assets/fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-Regular-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-Regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-Regular-webfont.svg#gibson_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { //400
  font-family: 'gibson_italic';
  src: url('../assets/fonts/Gibson-Italic-webfont.eot');
  src: url('../assets/fonts/Gibson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-Italic-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-Italic-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-Italic-webfont.svg#gibson_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { //600
  font-family: 'gibson_semibold';
  src: url('../assets/fonts/Gibson-SemiBold-webfont.eot');
  src: url('../assets/fonts/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-SemiBold-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-SemiBold-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-SemiBold-webfont.svg#gibson_semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { //700
  font-family: 'gibson_bold';
  src: url('../assets/fonts/Gibson-Bold-webfont.eot');
  src: url('../assets/fonts/Gibson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Gibson-Bold-webfont.woff') format('woff'),
  url('../assets/fonts/Gibson-Bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/Gibson-Bold-webfont.svg#gibson_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* BEBAS NEUE FONT
/------------------------*/
@font-face {
  font-family: "BebasNeue-Bold";
  src: url("../assets/fonts/BebasNeue-Bold.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Bold.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Bold.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Bold.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Bold.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Bold.svg?v=1.0.4#BebasNeueBold") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Book";
  src: url("../assets/fonts/BebasNeue-Book.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Book.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Book.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Book.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Book.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Book.svg?v=1.0.4#BebasNeueBook") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Light";
  src: url("../assets/fonts/BebasNeue-Light.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Light.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Light.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Light.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Light.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Light.svg?v=1.0.4#BebasNeueLight") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/BebasNeue-Regular.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Regular.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Regular.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Regular.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Regular.svg?v=1.0.4#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../assets/fonts/BebasNeue-Regular.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Regular.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Regular.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Regular.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Regular.svg?v=1.0.4#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Thin";
  src: url("../assets/fonts/BebasNeue-Thin.eot?v=1.0.4");
  src: url("../assets/fonts/BebasNeue-Thin.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("../assets/fonts/BebasNeue-Thin.woff2?v=1.0.4") format("woff2"), url("../assets/fonts/BebasNeue-Thin.woff?v=1.0.4") format("woff"), url("../assets/fonts/BebasNeue-Thin.ttf?v=1.0.4") format("truetype"), url("../assets/fonts/BebasNeue-Thin.svg?v=1.0.4#BebasNeueThin") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}