/* HEADER LOGO
/------------------------*/
.logo {
	margin-right: 1rem;
	background-image: url('../dist/images/header-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
a.logo-link {
	float: left;
	padding-top: 8px;
	padding-bottom: 0px;
}