/* HOMEPAGE PARTNERS SECTION
/------------------------*/
.our-partners-bg {
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 3px solid $c_darkblue;
}
.our-partners-bg .content {
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}
body.blog .our-partners-bg {
	display: none!important;
}
.logo_showcase .slick-slide img {
	border: none;
	max-height: 65px!important;
}