/* DEFAULT PAGE
/------------------------*/
.col-md-12.page-title {
	font-family: 'BebasNeue-Bold', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 34px;
	color: $c_darkblue;
	margin-bottom: 30px;
	margin-top: 30px;
}