/* HOMEPAGE PARTNERS SECTION
/------------------------*/
.our-partners ul {
	text-align: center;
	list-style-type: none;
	li {
		img {
			height: 80px;
			width: auto;
			opacity: 1;
			padding: 10px;
		}
	}
}
.logo_showcase .slick-slide img {
	border: none;
	max-height: 80px;
}
.logo_showcase {
	padding: 35px 30px 60px 30px !important
}
.logo_showcase .slick-dots li.slick-active button {
	background: $c_darkblue!important;
}