#responsive-menu {
	li {
		+ li:before{
			display: none;
		}
		a {
			padding: 3px 3px !important;
		}
	}
}
button#responsive-menu-button {
	width: 40px!important;
	height: 40px!important;
	background: #000;
	position: absolute;
	top: 15px!important;
	right: 1%;
	float: right;
}