#responsive-menu {
	li {
		+ li:before{
			display: none;
		}
		a {
			padding: 5px 3px !important;
		}
	}
}

button#responsive-menu-button {
	width: 45px!important;
	height: 45px!important;
	background: #000;
	position: relative!important;
	top: 10px!important;
	right: 1%;
	float: right;
}