//STAFF AND MEMBERS STYLES
.staff-page h2 {
	text-transform: uppercase;
	color: #103e5f;
	font-weight: 900;
	margin-top: 0px;
	font-size: 22px;
	display: block;
	float: left;
	width: 100%;
	font-weight: 900;
}
.staff {
	border: none;
	box-shadow: none;
	margin-bottom: 40px;
	p {
		margin: 0;
		margin-top: 5px;
	}

	.panel-body {
		text-align: center;

		.staff-content {
			background: #ddd;
			padding-top: 100px;
			margin-top: -100px;
			float: left;
			min-width: 100%;
			padding-bottom: 40px;
		}

		.staff-name {
			font-weight: 900;
			font-family: 'gibson_semibold', sans-serif;
			font-size: 20px;
		}

		img {
			border-radius: 50%;
			max-width: 178px;
			min-width: 178px;
			height: auto;
			margin-bottom: 20px;
		}
		p {
			font-size: 22px;
			text-transform: uppercase;
			color: $c_darkblue;
		}
		.staff-position {
			p {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 100;
				color: $c_darkblue;
				font-style: italic;
				border-bottom: 1px solid #ccc;
				padding-bottom: 10px;

				float: left;
				text-align: center;
				width: 100%;
			}
		}
		.staff-bio {
			p {
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
				color: #103e5f;
				font-style: normal;

				float: left;
				text-align: center;
				width: 100%;
			}
		}
	}
	.staff-social-links {
		margin-top: -15px;

		a.button {
			font-size: 16px;
			font-weight: 600;
			background: $c_darkblue;

			&:hover {
				background: $c_lightblue;
			}
		}
	}
}